body {
	font-family: Helvetica, Arial;
}

#banner {
	background-color: grey;
}

#companyTitle {
	font-size: 4em;
}

#loginInfo {
	float: right;
}

#banner, #menubar, ul, li {
	margin: 0;
	padding: .2em 0;
}

#menubar {
	background-color: lightgrey;
}

#menubar ul {
	margin-left: 5%;
}

#menubar li {
	display: inline;
	padding-right: 20px;
}

table {
	border-collapse: collapse;
}

table.list, table.list th, table.list td {
	border: 1px solid;
}

#content {
	position: relative;
	left: 5%;
	width: 90%;
	margin-top: 1em;
}

h1.pageTitle {
	text-align: center;
	margin: 0;
}

.error {
	color: red;
}

dd.info, dt label {
	display: none;
}

dd, dt, dl {
	margin: 0;
	padding: 0;
	display: inline;
}

div.divCatResult em {
	display: block;
	font-size: .9em;
}

#newTagName {
	text-transform: capitalize;
}
