body {
	background-image: url('/assets/images/background2.jpeg');
}

#mainSearchCatalog {
	position: absolute;
	top: 40%;
	left: 25%;
	width: 46em;
	min-width: 39em;
	height: 39px;
	/*background-color: #f0ad4e;*/
	background-color: steelblue;
	padding: 0;
	margin: 0;
}

#mainSearchCatalog input {
	position: relative;
	top: 2px;
	left: 2px;
	height: 35px;
	width: 40em;
}

#mainSearchCatalog button {
	position: relative;
	margin: 0 .1em;
	font-size: 1.5em;
	padding: 0 5px;
	top: 1px;
	height: 35px;
	width: 10%;
	min-width: 3.8em;
	background-color: steelblue;
	border: 0;
}
