body {
	font-family: Helvetica, Arial;
}

#banner {
	background-color: grey;
}

#companyTitle {
	font-size: 4em;
}

#loginInfo {
	float: right;
}

#banner, #menubar, ul, li {
	margin: 0;
	padding: .2em 0;
}

#menubar {
	background-color: lightgrey;
}

#menubar ul {
	margin-left: 5%;
}

#menubar li {
	display: inline;
	padding-right: 20px;
}

table {
	border-collapse: collapse;
}

table.list, table.list th, table.list td {
	border: 1px solid;
}

#content {
	position: relative;
	left: 5%;
	width: 90%;
}

h1.pageTitle {
	text-align: center;
	margin: 0;
}

.error {
	color: red;
}

dd.info, dt label {
	display: none;
}


/*
body, #container {
	margin:0;
	padding:0;
}

body {
	font-family: Times New Roman, Helvetica, Arial;
}

#banner {
	background-color: grey;
	padding: 0;
	margin-top: 11px;
}

#companyTitle {
	font-size: 3em;
	float: left;
}

#loginInfo {
	text-align: right;
}

#content {
	position: absolute;
	left: 10%;
	width: 80%;
	border: 1px solid;
}

.error {
	color: red;
}

dd, dt {
	margin: 0;
	padding: 0;
}

*/