@* search catalog Template File *@
@(myForm: Form[models.form.FormSearchCatalog], pCatalogs: List[form.FormCatalog])(implicit session: Session)

<html>
<head>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/normalize.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/grid.css")'/>
</head>
<body>
	<div id="container">
		@banner(true)
		<div id="content">
			<h1 class="pageTitle">
				SEARCH CATALOG
			</h1>
			<form action="@routes.ABSearchCatalog.search()" method="POST">
				<table>
					<tr>
						<td>Author</td>
						<td>
							@helper.inputText(myForm("author"),
								'id -> "txtAuthor",
								'placeholder -> "Author name"
							)
						</td>
					</tr>
					<tr>
						<td>Title</td>
						<td>
							@helper.inputText(myForm("title"),
								'id -> "txtTitle",
								'placeholder -> "Catalog title"
							)
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<input type="hidden" name="caseSensitive" id="caseSensitive" value='@myForm("caseSensitive").value.getOrElse("")';/>
							<input type="checkbox" id="chkCaseSensitive" value='Y'/>
							<label for="chkCaseSensitive">Case Sensitive</label>
						</td>
					</tr>
				</table>
							<input type="submit" name="btnSearchCatalog" id="btnSearchCatalog" value="Search"/>
				@if(pCatalogs.isEmpty) {
					The catalogs are empty!
				} else {
					<h2>Results</h2>
						@pCatalogs.map { catalog =>
							<div class="divCatResult">
								<h3>@catalog.idx. @catalog.title</h3>
								<em>by @catalog.author - published in @catalog.publishedYear</em>
								No descriptions available.
							</div>
						}
				}
			</form>
		</div>
	</div>
</body>
<script src='@routes.Assets.at("javascripts/jquery-2.0.3.js")'/></script>
<script>
	var checkInputs = function(event) {
	console.log('enter');
		var author = $('#txtAuthor').val();
		var title = $('#txtTitle').val();
		if (author==='' && title==='') $('#btnSearchCatalog').prop('disabled', true);
		else $('#btnSearchCatalog').prop('disabled', false);
	}
	$('#txtAuthor').keyup(checkInputs);
	$('#txtTitle').keyup(checkInputs);
	checkInputs();
	
	$('#chkCaseSensitive').click(function(event) {
		var $this = $(this);
		if ($this.prop('checked')) {
			$('#caseSensitive').val('Y');
		} else {
			$('#caseSensitive').val('N');
		}
		
	});
	if ($('#caseSensitive').val()==='Y') {
		$('#chkCaseSensitive').prop('checked', true);
	} else {
		$('#chkCaseSensitive').prop('checked', false);
	};
	//alert($('#caseSensitive').val());
	//$('#chkCaseSensitive').val($('#caseSensitive').val());
</script>
</html>