@(mode: String, myForm: Form[controllers.ABBookDetail.FormBook])(implicit session: Session)
@import views.html.helper._
@import utils.Constants._
@import models.common.DDBookOrigin

<!doctype html>
<html>
<head>
	@inc.common_head()
</head>
<body>
	@menubar_admin()
	<div class="container">
	<div id="divBookDetail" class="divMainContainer">
		@if(mode.equals(MODE_ADD)) {
			<form id="formCatalogDetail" action='@routes.ABBookDetail.saveNew(myForm("catalogSeqNo").value.get)' method="POST" class="navbar-form">
		} else {
			<form id="formCatalogDetail" action='@routes.ABBookDetail.saveUpdate(myForm("catalogSeqNo").value.get, myForm("seqNo").value.get)' method="POST" class="navbar-form">
		}
			<input type="hidden" value='@myForm("seqNo").value' name='@myForm("seqNo").name'/>
			<input type="hidden" value='@myForm("catalogSeqNo").value' name='@myForm("catalogSeqNo").name'/>
			<fieldset>
				<legend>
					@if(mode.equals(MODE_ADD)) {
						BOOK REGISTRATION
					} else {
						BOOK MODIFICATION
					}
				</legend>
				<div class="form-group">
					@select(myForm("originCode"),
								  DDBookOrigin.all,
								  '_label -> "Origin",
								  '_default -> "Please select",
									'class -> "form-control"
								)
				</div>
				<div class="form-group">
					<label>Status</label>
					<p>@myForm("status").value</p>
					<input type="hidden" name='@myForm("status").name' value='@myForm("status").value'/>
				</div>
				<div class="form-group">
					@helper.inputText(myForm("remarks"), 
								'placeholder -> "Remarks",
								'_label -> "Remarks",
								'class -> "form-control"
								)
				</div>
				@defining(myForm.errors.filter(_.key.equals(""))) { errs =>
					@if(errs.size>0) {
						<ul class="error">
						@errs.map { err =>
							<li>@err.message</li>
						}/
						</ul>
					}
				}
				<div class="form-group">
					<input type="submit" name="addNewBook" value='Save' class="btn btn-success"/>
					<input type="button" name="btnCancel" value='Cancel' onclick="javascript:window.location='/catalog/@myForm("catalogSeqNo").value/edit'" class="btn btn-danger"/>
				</div>
			</fieldset>
		</form>
	</div>
	</div>
</body>
</html>
