@(mode: String, myForm: Form[form.FormCatalog])(implicit session: Session)
@import viewhelpers._
@import controllers.ABCatalogDetail.MODE_ADD
@import controllers.ABCatalogDetail.MODE_EDIT
@import models.common._

<!doctype html>

<html>
<head>
	@inc.common_head()
</head>
<body>
	@menubar_admin()
	<div class="container">
	<div id="divCatalogDetail" class="divMainContainer">
		<form id="formCatalogDetail" action="@routes.ABCatalogDetail.save" method="POST" class="navbar-form">
			<input type='hidden' name='seqNo' value='@myForm("seqNo").value'/>
			<input type="hidden" value="@myForm("id").value" name="id"/>
			<fieldset>
				<legend>
				@if(mode.equals(MODE_ADD)) {
					CATALOG REGISTRATION
				} else {
					CATALOG MODIFICATION
				}
				</legend>
				<div class="form-group">
					@helper.inputText(myForm("title"),
							'id -> "signUpUserID",
							'_label -> "Title",
							'placeholder -> "Title",
							'class -> "form-control"
							)
				</div>
				<div class="form-group">
					@helper.inputText(myForm("author"),
							'_label -> "Author",
							'placeholder -> "Author",
							'class -> "form-control"
							)
				</div>
				<div class="form-group">
					@helper.inputText(myForm("publishedYear"), 
							'_label -> "Published in",
							'placeholder -> "Published year",
							'class -> "form-control"
							)
				</div>
				<div class="form-group">
					@helper.select(
								  myForm("category"),
								  DDCategories.all,
								  '_label -> "Category",
								  '_default -> "Please select"
					)
				</div>
				@defining(myForm.errors.filter(_.key.equals(""))) { errs =>
					@if(errs.size>0) {
						<ul class="error">
						@errs.map { err =>
							<li>@err.message</li>
						}
						</ul>
					}
				}
				<div class="form-group">
					<input type="submit" name="addNewCatalog" value='Save' class="btn btn-success"/>
					<input type="button" name="btnCancel" value='Cancel' onclick="javascript:window.location='/cataloglist'" class="btn btn-danger"/>
				</div>
			</fieldset>
	</form>
	<div id="divCatalogBooks">
		<legend>CATALOG BOOKS</legend>
			<table class="list">
				<tr>
					<th>S/No</th>
					<th>Remarks</th>
					<th>Origin</th>
				</tr>
					@repeatWithIndex(myForm("books")) { (book, idx) =>
					<tr>
						<td align="center">@(idx+1)</td>
						<td>@book("remarks").value</td>
						<td>@book("originDesc").value</td>
					</tr>
				}
			</table>
			<a href="/bookdetail/@myForm("id").value/new">Add a new book</a>
	</div>
	</div>
	</div>
</body>
</html>
