@(pCurrentPageIdx: Int, pMaxPageIdx: Int, pList: List[form.FormCatalog])(implicit session: Session)
<!-- catalogsList.scala.html -->
<!doctype html>
@import helper._

<html>
<head>
	<title>Dummy Library</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/normalize.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/grid.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap.css")' media='screen'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")' media='screen'/>
	<script>
	function removeCatalog(pURL) {
		if (confirm('Are you sure you want to delete this catalog?')) {
			window.location = pURL;
		}
	}
	</script>
	<script src="index.js"></script>
</head>
<body>
	@menubar_admin()
	<div id="divCommonList" class="divMainContainer container">
		<h1>List of Catalogs</h1>
			<form action="@routes.ABCatalogList.index" method="POST">
			<input type="hidden" name="currentPageIdx" value="@pCurrentPageIdx"/>
			<input type="hidden" name="maxPageIdx" value="@pMaxPageIdx"/>
			<div align="center">
			@if(pList.isEmpty) {
				The catalogs are empty!
			} else {
				<table class="list">
					<tr>
						<th width="5%">S/No</th>
						<th width="30%">TITLE</th>
						<th width="30%">AUTHOR</th>
						<th width="10%">PUBLISHED YEAR</th>
						<th width="10%">ACTION</th>
					</tr>
					@pList.map { catalog =>
					<tr>
						<td align="center">@catalog.idx</td>
						<td>@catalog.title</td>
						<td>@catalog.author</td>
						<td>@catalog.publishedYear</td>
						<td align="center">
							<a href="@routes.ABCatalogDetail.edit(catalog.id.get.toString)">Edit</a> /
							<a href="javascript:removeCatalog('@routes.ABCatalogList.remove(catalog.id.get.toString)')">Remove</a>
						</td>
					</tr>
					}
				</table>
			}
			<br/>
			<div align="center">
				Page: @pCurrentPageIdx / @pMaxPageIdx
				<table>
					<tr>
						<td align="center">
							<a href="@routes.ABCatalogList.navigateFirst">First</a> |
							<a href="@routes.ABCatalogList.navigatePrev?currentPageIdx=@pCurrentPageIdx">Prev</a> |
							<a href="@routes.ABCatalogList.navigateNext?currentPageIdx=@pCurrentPageIdx&maxPageIdx=@pMaxPageIdx">Next</a> |
							<a href="@routes.ABCatalogList.navigateLast?maxPageIdx=@pMaxPageIdx">Last</a>
						</td>
					</tr>
					<tr>
						<td colspan=4>
							
						</td>
					</tr>
				</table>
			</div>
			<br/>
			<a href="/newcatalog">Add a new catalog</a>
			</div>
			</form>
	</div>
</body>
<script src='@routes.Assets.at("javascripts/jquery-2.0.3.js")'></script>
<script src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
<script>
	$('#liCatalogs').addClass('active');
</script>
</html>