@(myForm: Form[form.FormCategory], list: List[common.Category])(implicit session: Session)
@import helper._
@import viewhelpers._

<!doctype html>
<!-- categories_list.scala.html -->

<html>
<head>
	@inc.common_head()
	<script>
		function updatecategory(rowidx) {
			console.log("rowidx = "+rowidx);
		  var seqno = $('#list'+rowidx).val();
			$('#selectedid').val(seqno);
			console.log("seqno = "+seqno);

			var newcategoryname = $("#input"+rowidx).val();
			$('#updatedcategoryname').val(newcategoryname);
			console.log("newcategoryname = "+newcategoryname);
			
			document.forms[0].action = "/categories/"+seqno+"/update";
			document.forms[0].submit();
		}
		
		function createcategory() {
			document.forms[0].submit();
		}
	
	</script>
</head>
<body>
	@menubar_admin()
	<div id="divCommonList" class="divMainContainer container">
		<h1>List of Categories</h1>
		<form action="@routes.ABCategory.saveCreate" method="POST">
			<input type='hidden' id='selectedID' name='selectedID'/>
			<input type='hidden' id='updatedCategoryName' name='updatedCategoryName'/>
			<div align="center">
			@if(list.isEmpty) {
				No categories have been created yet!
			} else {
				<table class="list">
					<tr>
						<th width="2%" align="center">S/No</th>
						<th width="25%">NAME</th>
						<th width="5%">ACTION</th>
					</tr>
					@repeatWithIndex(myForm("list")) { (cat, idx) =>
					<input type="hidden" id='list@idx' name='list[@idx].seqno' value='@cat("seqno").value.get'/>
					<tr class="resultItem">
						<td align="center">@(idx+1)</td>
						<td>@helper.inputText(cat("name"), 
							'placeholder ->"Category name",
							'id -> ("input"+idx),
							'class -> "initcapitaliseinput"
							)
						</td>
						<td align="center">
							<a href='javascript:updateCategory(@(idx))'>Save</a>
						</td>
					</tr>
					}
				</table>
			}
			<br/>
			@helper.inputText(myForm("newCategoryName"), 
					'placeholder -> "New category name",
					'class -> "initcapitaliseinput"
					)
			<input type="submit" value="Create New" onclick="javascript:createCategory()"/>
			@helper.inputText(myForm("newCategoryName2"), 
					'id -> "newCategoryName2",
					'placeholder -> "New category name",
					'class -> "initcapitaliseinput",
					'style -> "display: None"
					)
			</div>
		</form>
	</div>
</body>
<script src='@routes.Assets.at("javascripts/jquery-2.0.3.js")'/></script>
<script src='@routes.Assets.at("javascripts/bootstrap.js")'/></script>
<script>
	$('#liCategory').addClass('active');
</script>
</html>
