@(myForm: Form[form.FormUserPassword])(implicit session: Session)
@import views.html.helper._
<!-- index.scala.html-->
<!doctype html>
<html>
	<head>
		<title>Dummy Library</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/normalize.css")'/>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/grid.css")'/>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap.css")' media='screen'/>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")' media='screen'/>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/index.css")' media='screen'/>
		<script>
			function checkSignInEnable() {
				var username = $('#username').val();
				var password = $('#password').val();
				if (username == '' || password == '') {
					$('#btnSignIn').attr('disabled', 'disabled');
				} else {
					$('#btnSignIn').removeAttr('disabled');
				}
			}
		</script>
	</head>
<body>
			@defining(session.get(Security.username).getOrElse("")) { username => 
				@if(username!=null && !username.trim().equals("")) {
					@menubar_borrower()
				} else {
					@menubar_public(myForm)
				}
			}
		</div><!--/.nav-collapse -->
	</div>
	</div>
	<div id="mainSearchCatalog">
		<input type="text" placeholder="Enter keywords here"><button type="submit" class="btn btn-warning">Search</button>
	</div>
</body>
		<script src='@routes.Assets.at("javascripts/jquery-2.0.3.js")'></script>
		<script src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
		<script>
			checkSignInEnable();
		</script>
</html>