@(myForm: Form[form.FormUserPassword])(implicit session: Session, flash: Flash)
<!-- index.scala.html-->
<!doctype html>
<html>
	<head>
		<title>Dummy Library</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/normalize.css")'/>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/grid.css")'/>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap.css")' media='screen'/>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")' media='screen'/>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/index.css")' media='screen'/>
	</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Dummy Library</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<form action="@routes.ABLogin.login" method="POST" class="navbar-form navbar-right">
				<div class="form-group">
					@helper.inputText(myForm("username"), 
							'placeholder -> "User ID",
							'class -> "form-control"
							)
				</div>
				<div class="form-group">
					@helper.inputText(myForm("password"), 
							'placeholder -> "Password",
							'class -> "form-control",
							'type -> "password"
							)
				</div>
				<input type="submit" value="Sign in" class="btn btn-success"/>
				<input type="button" value="Register" onclick='javascript:window.location="/loginsignup"' class="btn btn-danger"/>
			</form>
		</div><!--/.nav-collapse -->
	</div>
	</div>
	<div id="mainSearchCatalog">
		<input type="text" placeholder="Enter keywords here"><button type="submit" class="btn btn-warning">Search</button>
	</div>
</body>
		<script src='@routes.Assets.at("javascripts/jquery-2.0.3.js")'></script>
		<script src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
</html>