@(myForm: Form[form.FormUserPassword])(implicit session: Session, flash: Flash)

<html>
<head>
	@inc.common_head()
</head>
<body>
	<div id="container">
		@banner(false)
		<div id="content">
			<form action="@routes.ABLogin.loginPage" method="POST">
				@defining(myForm.errors.filter(_.key.equals(""))) { errors =>
					@if(errors.size>0) {
						<div align="left">
							<ul class="error">
							@errors.map { error =>
								<li>@error.message</li>
							}
							</ul>
						</div>
					}
				}
				<table>
					<tr>
						<td>Username</td>
						<td>@helper.inputText(myForm("username"), 
							'placeholder -> "Username"
							)
						</td>
					</tr>
					<tr>
						<td>Password</td>
						<td>@helper.inputText(myForm("password"), 
							'placeholder -> "Password",
							'type -> "password"
							)
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" name="login" value="Login"/>
						<td>
					</tr>
				</table>
			</form>
			<br/>
			<table border="1">
				<tr>
					<td colspan="2" align="center"><b>ADMIN ROLE</b></td>
				</tr>
				<tr>
					<td>User</td>
					<td>Password</td>
				</tr>
				<tr>
					<td>admin</td>
					<td>admin</td>
				</tr>
			</table>
			<br/>
			<table border="1">
				<tr>
					<td colspan="2" align="center"><b>USER ROLE</b></td>
				</tr>
				<tr>
					<td>User</td>
					<td>Password</td>
				</tr>
				<tr>
					<td>user</td>
					<td>user</td>
				</tr>
			</table>
		</div>
	</div>
</body>
<script src='@routes.Assets.at("javascripts/jquery-1.8.3.min.js")'/></script>
<script src='@routes.Assets.at("javascripts/bootstrap.js")'/></script>
</html>
