@(myForm: Form[form.FormUserPassword])(implicit flash: Flash)

<html>
<head>
<style>
	
	div.error {
		color: red;
	}

	ul.error {
		color: red;
	}
</style>
</head>
<body>
@defining(flash.get("message")) { message =>
	@if(message != None) {
		@message
		<br/><br/>
	}
}
	<form action="@routes.ABLogin.loginPage" method="POST">
	<table>
	<div align="left">
		@defining(myForm.errors.filter(_.key.equals(""))) { errors =>
			@if(errors.size>0) {
				<ul class="error">
				@errors.map { error =>
					<li>@error.message</li>
				}
				</ul>
			}
		}
	</div>
	<table>
		<tr>
			<td>Username</td>
			<td>@myInput(myForm("username"), 
				'placeholder -> "Username"
				)
			</td>
		</tr>
		<tr>
			<td>Password</td>
			<td>@myInput(myForm("password"), 
				'placeholder -> "Password",
				'type -> "password"
				)
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" name="login" value="Login"/>
			<td>
		</tr>
	</table>
	</form>
	<br/>
	<table border="1">
		<tr>
			<td colspan="2" align="center"><b>ADMIN ROLE</b></td>
		</tr>
		<tr>
			<td>User</td>
			<td>Password</td>
		</tr>
		<tr>
			<td>admin</td>
			<td>admin</td>
		</tr>
	</table>
	<br/>
	<table border="1">
		<tr>
			<td colspan="2" align="center"><b>USER ROLE</b></td>
		</tr>
		<tr>
			<td>User</td>
			<td>Password</td>
		</tr>
		<tr>
			<td>user</td>
			<td>user</td>
		</tr>
	</table>
</body>
</html>