@* newbook Template File *@
@(mode: String, myForm: Form[Book])(session: Session)

@import controllers.BookDetail._

<html>
<head>
<style>
	
	div.error {
		color: red;
	}

	ul.error {
		color: red;
	}
</style>
</head>
<body>
	<form action="@routes.BookDetail.save" method="POST">
		<div align="center">
		<h1>
			@if(mode.equals(MODE_ADD)) { 
			  ADD A NEW BOOK 
			} else { 
			  EDIT A BOOK 
			}
		</h1>
		<br/><br/>
		</div>
		<div align="left">
		@if(myForm.errors.size>0) {
			<ul class="error">
			@myForm.errors.map { err =>
				<li>@err.message</li>
			}
			</ul>
			</p>
		}
		<input type="hidden" value="@myForm("id").value" name="id"/>
		<table>
			<tr>
				<td>Title</td>
				<td>@myInput(myForm("title"), 
					'placeholder ->"Book title"
					)
				</td>
			</tr>
			<tr>
				<td>Author</td>
				<td>@myInput(myForm("author"), 
					'placeholder -> "Book author"
					)
				</td>
			</tr>
			<tr>
				<td>Published in</td>
				<td>@myInput(myForm("publishedYear"),
					'placeholder -> "Published year"
				)
				</td>
			</tr>
		</table>
		<br/>
		<input type="submit" name="addNewBook" value="Save"/>
		<input type="button" name="btnCancel" value="Cancel" onclick="javascript:window.location='/'"/>
		</div>
	</form>

</body>
</html>