@* newbook Template File *@
@(mode: String, myForm: Form[form.FormCatalog], books: List[form.FormBook])(session: Session)

@import controllers.CatalogDetailAction._

<html>
<head>
<style>
	
	div.error {
		color: red;
	}

	ul.error {
		color: red;
	}
</style>
</head>
<body>
	<form action="@routes.CatalogDetailAction.save" method="POST">
		<div align="center">
		<h1>
			@if(mode.equals(MODE_ADD)) { 
			  ADD A NEW CATALOG 
			} else { 
			  EDIT A CATALOG 
			}
		</h1>
		<br/><br/>
		</div>
		<div align="left">
		@defining(myForm.errors.filter(_.key.equals(""))) { errs =>
			@if(errs.size>0) {
				<ul class="error">
				@errs.map { err =>
					<li>@err.message</li>
				}
				</ul>
			}
		}
		<input type="hidden" value="@myForm("id").value" name="id"/>
		<table>
			<tr>
				<td>Title</td>
				<td>@myInput(myForm("title"), 
					'placeholder ->"Catalog title"
					)
				</td>
			</tr>
			<tr>
				<td>Author</td>
				<td>@myInput(myForm("author"), 
					'placeholder -> "Catalog author"
					)
				</td>
			</tr>
			<tr>
				<td>Published in</td>
				<td>@myInput(myForm("publishedYear"),
					'placeholder -> "Published year"
				)
				</td>
			</tr>
		</table>
		<br/>
		<input type="submit" name="addNewCatalog" value="Save"/>
		<input type="button" name="btnCancel" value="Cancel" onclick="javascript:window.location='/list'"/>
		</div>
		<br/>
		<div align="left">
		@if(books.size==0) {
			No registered books yet.
			@if(mode.equals(MODE_EDIT)) { 
				<a href="/bookdetail/@myForm("id").value/new">Do you want to add one?</a>
			} else {
				Create the catalog first.
			}
		} else {
			<table>
				<tr>
					<td align="right"><a href="/bookdetail/@myForm("id").value/new">Add a new book</a></td>
				</tr>
			</table>
			<table border="1">
				<tr>
					<th width="10%">S/No</th>
					<th width="90%">Remarks</th>
				</tr>
				@books.zipWithIndex.map { item => 
					<tr>
						<td align="center">@item._2</td>
						<td>@item._1.remarks</td>
					</tr>
				}
			</table>
		}
		</div>
	</form>

</body>
</html>