@(myForm: Form[form.FormUserPassword], pStr: String, pCatalogs: List[controllers.ABSearchCatalog.FormCatalogListItem])(implicit session: Session)
@import views.html.helper._
<!-- search_catalog.scala.html-->
<!doctype html>
<html>
<head>
	@inc.common_head()
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/index.css")' media='screen'/>
	<script>
		function search() {
			var url = '/searchbook/'+$('#txtSearch').val();
			window.location=url;
		}
		
		function checkSearchTextbox() {
			var searchText = $('#txtSearch').val();
			if (searchText == "") {
				$('#btnSearch').attr("disabled", "disabled");
			} else {
				$('#btnSearch').removeAttr("disabled");
			}
		}

		function replaceKeyWord(sentence, keyword) {
			while (sentence.indexOf(keyword)>=0) {
				sentence = sentence.replace(keyword, "&*(");
			}

			while (sentence.indexOf("&*(")>=0) {
				sentence = sentence.replace("&*(", "<strong>"+keyword+"</strong>");
			}
			
			return sentence;
		}
		
		function highlightKeywords(str) {
			$('h4').each(function(idx) {
				var oldText = $(this).text();
				var newText = replaceKeyWord(oldText, str);
				$(this).html(newText);
			})
		}
		
	</script>
</head>
<body>
	@{defining(session.get("menuType").getOrElse("")) { menuType =>
		menuType match {
			case "ADMIN" => menubar_admin()
			case "BORROWER" => menubar_borrower()
			case _ => menubar_public(myForm, true)
		}
	}}
	<form action='@routes.ABSearchCatalog.index' method='GET'>
	<div id="divSearchInput" class="searchBox">
		<input id="txtSearch" name="searchKeyword" placeholder="Enter keywords here" value="@pStr" onkeyup="checkSearchTextbox()">
		<a id="btnSearch" href="javascript:search()" class="btn" disabled>Search</a>
	</div>
	</form>
	<div class="container">
	<div id="divSearchResult" class="divMainContainer">
		<div class="navbar-form">
			<legend>Results</legend>
			@if(pCatalogs.isEmpty) {
				<div>The catalogs are empty!</div>
			} else {
				@pCatalogs.map { catalog =>
					<div class="divCatResult">
						<h4>@catalog.idx. @catalog.title</h4>
						<em>by @catalog.author - published in @catalog.publishedYear</em>
						No descriptions available.
					</div>
				}
			}
		</div>
	</div>
	</div>
</body>
	<script src='@routes.Assets.at("javascripts/jquery-2.0.3.js")'></script>
	<script src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
	<script>
		highlightKeywords('@pStr.toUpperCase()');
		checkSearchTextbox();
	</script>
</html>
