@(myForm: Form[form.FormTag], list: List[OBTag])(implicit session: Session)
<!doctype html>
<!-- usersList.scala.html -->

@import helper._
@import viewhelpers._

<html>
<head>
	<title>Dummy Library</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/normalize.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/grid.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap.css")' media='screen'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")' media='screen'/>
	<script>
		function updateTag(rowIdx) {
			console.log("rowIdx = "+rowIdx);
		  var seqNo = $('#list'+rowIdx).val();
			$('#selectedID').val(seqNo);
			console.log("seqNo = "+seqNo);

			var newTagName = $("#input"+rowIdx).val();
			$('#updatedTagName').val(newTagName);
			console.log("newTagName = "+newTagName);
			
			document.forms[0].action = "/tags/"+seqNo+"/update";
			document.forms[0].submit();
		}
		
		function createTag() {
			document.forms[0].submit();
		}
	
	</script>
</head>
<body>
	@menubar_admin()
	<div id="divCommonList" class="divMainContainer container">
		<h1>List of Tags</h1>
				<form action="@routes.ABTagsList.saveCreate" method="POST">
				<input type='hidden' id='selectedID' name='selectedID'/>
				<input type='hidden' id='updatedTagName' name='updatedTagName'/>
				<div align="center">
				@if(list.isEmpty) {
					No tags have been created yet!
				} else {
					<table class="list">
						<tr>
							<th width="5%">S/No</th>
							<th width="25%">NAME</th>
							<th width="5%">ACTION</th>
						</tr>
						@repeatWithIndex(myForm("list")) { (tag, idx) =>
						<input type="hidden" id='list@idx' name='list[@idx].seqno' value='@tag("seqno").value.get'/>
						<tr class="resultItem">
							<td align="center">@(idx+1)</td>
							<td>@helper.inputText(tag("name"), 
								'placeholder ->"Tag name",
								'id -> ("input"+idx),
								'class -> "initcapitaliseinput"
								)
							</td>
							<td align="center">
								<a href='javascript:updateTag(@(idx))'>Save</a>
							</td>
						</tr>
						}
					</table>
				}
				<br/>
					@helper.inputText(myForm("newTagName"), 
							'placeholder -> "New tag name",
							'class -> "initcapitaliseinput"
							)
					<input type="submit" value="Create New" onclick="javascript:createTag()"/>
				</div>
			</form>
	</div>
</body>
<script src='@routes.Assets.at("javascripts/jquery-2.0.3.js")'/></script>
<script src='@routes.Assets.at("javascripts/bootstrap.js")'/></script>
<script>
	$('#liTags').addClass('active');
</script>
</html>