@(mode: String, myForm: Form[form.FormUser], 
	pCountries: Seq[(String, String)], pUserRoles: Seq[(String, String)])(implicit session: Session)

@import controllers.ABUserDetail.MODE_ADD
@import controllers.ABUserDetail.MODE_EDIT

<html>
<head>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/normalize.css")'/>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'/>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/grid.css")'/>
</head>
<body>
	<div id="container">
		@banner(true)
		<div id="menubar">
			<ul>
			<li><a href="/useradmin">User</a></li>
			<li><a href="/cataloglist">Catalog</a></li>
			</ul>
		</div>
		<div id="content">
			<h1 class="pageTitle">
				@if(mode.equals(MODE_ADD)) { 
					ADD A NEW USER
				} else {
					EDIT A USER
				}
				<form action="@routes.ABUserDetail.save" method="POST">
					<div align="left">
					@defining(myForm.errors.filter(_.key.equals(""))) { errs =>
						@if(errs.size>0) {
							<ul class="error">
							@errs.map { err =>
								<li>@err.message</li>
							}
							</ul>
						}
					}
					<input type="hidden" value="@myForm("seqNo").value" name="seqNo"/>
					<input type="hidden" value="@myForm("id").value" name="id"/>
					<table class="outbordertable">
						<col width="30%"/>
						<col width="70%"/>
						<tr>
							<td>User ID</td>
							<td>@helper.inputText(myForm("userID"), 
								'placeholder ->"User ID"
								)
							</td>
						</tr>
						<tr>
							<td>Name</td>
							<td>@helper.inputText(myForm("name"), 
								'placeholder ->"Name"
								)
							</td>
						</tr>
						<tr>
							<td>Gender</td>
							<td align="left">@helper.inputRadioGroup(myForm("gender"),
								options = Seq("M" -> "Male", "F" -> "Female"),
								'_label -> ""
							)
							</td>
						</tr>
						<tr>
							<td>Date of Birth</td>
							<td>@helper.select(
								  myForm("dob_date"),
								  for(i<-1 to 31) yield (i.toString, i.toString),
								  '_label -> "",
								  '_default -> "--"
								)
								@helper.select(
								  myForm("dob_month"),
								  for(i<-1 to 12) yield (i.toString, i.toString),
								  '_label -> "",
								  '_default -> "--"
								)
								@helper.select(
								  myForm("dob_year"),
								  for(i<-1900 to 2013) yield (i.toString, i.toString),
								  '_label -> "",
								  '_default -> "--"
								)
								<p class="error">
								@myForm.errors.filter(_.key=="").map{ err =>
									@err.message
								}
								</p>
							</td>
						</tr>
						<tr>
							<td>ID Number</td>
							<td>@helper.inputText(myForm("idNumber"),
								'placeholder -> "ID Number"
							)
							</td>
						</tr>
						<tr>
							<td>Address</td>
							<td>@helper.textarea(myForm("address"),
								'rows -> 3,
								'cols -> 50,
								'placeholder ->"Address"
								)
							</td>
						</tr>
						<tr>
							<td>Role</td>
							<td>@helper.select(
								  myForm("userRoleID"),
								  pUserRoles,
								  '_label -> "",
								  '_default -> "Please select"
								)
							</td>
						</tr>
						<tr>
							<td>Nationality</td>
							<td>@helper.select(
								  myForm("nationality"),
								  pCountries,
								  '_label -> "",
								  '_default -> "Please select"
								)
							</td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr>
							<td colspan="2" align="center">
								<input type="submit" name="addNewUser" value="Save"/>
								<input type="button" name="btnCancel" value="Cancel" 
									onclick="javascript:window.location='/useradmin'"/>
							</td>
						</tr>
					</table>
					<br/>
					</div>
				</form>
			</h1>
		</div>
	</div>
</body>
</html>
