@(mode: String, signupForm: Form[form.FormUser])(implicit session: Session)
@import models.common._
@import controllers.ABUserDetail.MODE_ADD
@import controllers.ABUserDetail.MODE_EDIT

<!-- loginsignup.scala.html -->
<!doctype html>
<html>
<head>
	<title>Dummy Library</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/normalize.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/grid.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap.css")' media='screen'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")' media='screen'/>
</head>
<body>
	@menubar_admin()
	<div class="container">
	<div class="divMainContainer" id="divAdminUser">
		<form id="formSignup" action="@routes.ABUserDetail.save" method="POST" class="navbar-form navbar-right">
			<input type='hidden' name='seqNo' value='@signupForm("seqNo").value'/>
			<fieldset>
				<legend>
				@if(mode.equals(MODE_ADD)) { 
					USER REGISTRATION
				} else {
					USER MODIFICATION
				}
				</legend>
				<div class="form-group">
					@if(mode.equals(MODE_ADD)) { 
						@helper.inputText(signupForm("username"),
								'id -> "signUpUserID",
								'_label -> "Username",
								'placeholder -> "Username",
								'class -> "form-control capitaliseinput",
								'onblur -> "checkUsernameAvailability()"
								)
					} else {
						<label>Username</label>
						<p>@signupForm("username").value</p>
						<input type='hidden' name='username' value='@signupForm("username").value'/>
					}
					<div id='alert-box'></div>
				</div>
				<div class="form-group">
					@helper.inputText(signupForm("name"),
							'_label -> "Full Name",
							'placeholder -> "Full Name",
							'class -> "form-control"
							)
				</div>
				<div id="divGender" class="form-group">
					@if(mode.equals(MODE_ADD)) { 
						@helper.inputRadioGroup(signupForm("gender"),
							options = Seq("M" -> "Male", "F" -> "Female"),
							'_label -> "Gender"
						)
					} else {
						<label>Gender</label>
						<p>@Gender(signupForm("gender").value.getOrElse("")).toString()</p>
						<input type='hidden' name='gender' value='@signupForm("gender").value'/>
					}
				</div>
				<div class="form-group">
					@helper.inputDate(signupForm("dob"),
						'placeholder -> "Date of birth",
						'_label -> "Date of Birth"
					)
					<p class="error">
					@signupForm.errors.filter(_.key=="").map{ err =>
						@err.message
					}
					</p>
				</div>
				<div class="form-group">
					@helper.inputText(signupForm("idNumber"),
						'placeholder -> "ID Number",
						'_label -> "ID Number"
					)
				</div>
				<div class="form-group">
					@helper.textarea(signupForm("address"),
						'rows -> 3,
						'cols -> 50,
						'placeholder ->"Address",
						'_label -> "Address"
						)
				</div>
				<div class="form-group">
					@helper.select(
								  signupForm("userRoleID"),
								  DDUserRoles.all,
								  '_label -> "User Role",
								  '_default -> "Please select"
					)
				</div>
				<div class="form-group">
					@helper.select(
							signupForm("nationality"),
							DDCountry.all,
							'_label -> "Nationality",
							'_default -> "Please select"
						)
				</div>
				<div class="form-group">
					@helper.inputText(signupForm("password"), 
							'_label -> "Password",
							'placeholder -> "Password",
							'class -> "form-control",
							'type -> "password",
							'value -> ""
							)
				</div>
				<div id="divPassword2" class="form-group">
					@helper.inputText(signupForm("password2"), 
							'_label -> "Verify Password",
							'placeholder -> "Enter the password again",
							'class -> "form-control",
							'type -> "password",
							'value -> ""
							)
				</div>
				<div class="form-group">
					<input type="submit" name="addNewUser" value='Save' class="btn btn-success"/>
					<input type="button" name="btnCancel" value='Cancel' onclick="javascript:window.location='/useradmin'" class="btn btn-danger"/>
				</div>
			</fieldset>
		</form>
	</div>
	</div>
</body>
<script src='@routes.Assets.at("javascripts/jquery-2.0.3.js")'></script>
<script src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
<script type="text/javascript" src="@routes.ABLoginSignup.javascriptRoutes"></script>
</html>